# **Covid effect on export volumes around the world**

## Introduction

The covid pandamic has had never seen impacts across multiple dimensions. 

Goal of this project is a quick analysis on export volumes around the world. before and after Covid-19 has affected the global economy. Using a Dataset provided by KAGGLE We will look at the trade-impacts on different levels, starting with the overall effect around the world. Later, we will go into lower layers of the data, exploring trade effect of different countries and how the effect differs between different commodities. 

This Analysis will also lay the foundation for a small Dashboard, that will summarize the key results using Tableau Public. The Dashboard can be found here:

## 1\. Data Preparations

before analyzing the data, lets take a quick look at the layout and columns. We will also check, if the data types are suitable for our analysis.

In [6]:
Select Top(5) * from Covid_Trade
Select Top(5) * from Covid_Trade

Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative,month,Year_Month
Exports,2015,31/01/2015,Saturday,1/02/2020,All,All,All,$,257000000,257000000,1,2015-01-01
Exports,2015,1/02/2015,Sunday,2/02/2020,All,All,All,$,123000000,380000000,2,2015-02-01
Exports,2015,2/02/2015,Monday,3/02/2020,All,All,All,$,176000000,556000000,2,2015-02-01
Exports,2015,3/02/2015,Tuesday,4/02/2020,All,All,All,$,115000000,671000000,2,2015-02-01
Exports,2015,4/02/2015,Wednesday,5/02/2020,All,All,All,$,74000000,746000000,2,2015-02-01

Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative,month,Year_Month
Exports,2015,31/01/2015,Saturday,1/02/2020,All,All,All,$,257000000,257000000,1,2015-01-01
Exports,2015,1/02/2015,Sunday,2/02/2020,All,All,All,$,123000000,380000000,2,2015-02-01
Exports,2015,2/02/2015,Monday,3/02/2020,All,All,All,$,176000000,556000000,2,2015-02-01
Exports,2015,3/02/2015,Tuesday,4/02/2020,All,All,All,$,115000000,671000000,2,2015-02-01
Exports,2015,4/02/2015,Wednesday,5/02/2020,All,All,All,$,74000000,746000000,2,2015-02-01

In [13]:
SELECT 
COLUMN_NAME, 
DATA_TYPE 
FROM INFORMATION_SCHEMA.COLUMNS
Where TABLE_NAME = 'Covid_Trade'

COLUMN_NAME,DATA_TYPE
Direction,varchar
Year,varchar
Date,varchar
Weekday,varchar
Current_Match,varchar
Country,varchar
Commodity,varchar
Transport_Mode,varchar
Measure,varchar
Value,bigint
Cumulative,varchar
month,int
Year_Month,date

Looking at the data, there are 3 data preparation tasks required before we start analysing:

> **1.** **Creating a "year-month" column:** Looking at the date related columns, we have no column to aggregate monthly values by. So, we will begin with creating a "year-month" column with date format.

> **2\. Isolating Export Values:** The table contains both, import and exports. When aggregating values, we don't want to mix these two values, so for now we will focus on Exports values only.

> **3\. Changing the data type of the "Value" column:** The "Value" column shows the numerical values of the imports and exports, expressed in tons and $ worth. To aggregate these values, we will need to change the varchar datatype to a numerical data type. In this case, we will convert the values into integers.